[Unit]
Description=Crafty Controller web application
After=network.target crafty-supervisor.service

[Service]
Type=simple
User=crafty
WorkingDirectory=/home/crafty_fork
KillMode=process
ExecStart=/var/opt/minecraft/crafty/.venv/bin/python /home/crafty_fork/main.py -d
Restart=on-failure

[Install]
WantedBy=multi-user.target
